<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Vapour</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Scada:400italic,700italic,400,700' type='text/css' media='all' />
    <style>
      body {
        font-family: "Scada", sans-serif;
        text-align: center;
        background-color: #DEF;
        text-shadow: 1px 1px 1px black;
        color: #fff;
        font-size: 200%;
      }

      q {
        display: inline-block;
        margin: 4em 0;
        font-style: italic;
      }

      a {
        text-decoration: none;
        color: #fff;
      }

      a:hover {
        text-shadow: 1px 1px 10px #FA0;
      }
    </style>
  </head>
  <body>
    <q>This is all but an illusion.</q>
    <a href="https://github.com/bbqsrc/vapour">
      <h1>Vapour</h1>
    </a>
  </body>
</html><%doc>
This file is part of Vapour.

Vapour is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vapour is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Vapour.  If not, see <http://www.gnu.org/licenses/>.
</%doc>
